@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --gray:#363636;
    --light-gray:#98A2B3;
    --dark-black:#2C2C2C;
    --purple:#6F6B9D;
    --yellow-err:#C77024;
}


p{
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    justify-content: center;
    place-items: normal;
    display: block;
}

.dashboard__screen{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#0800ff26 0%, #78038f30 57%, #ff07071f 85%), #2C2C2C
}

.container{
    max-width: 1700px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
}

input{
    background: none;
    border: unset;
}

input:focus{
    outline: none;
}

.orders__wrapper{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    column-gap: 2.5rem;
    row-gap: 1rem;
}

.cards__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    width: 100%;
    direction: ltr;

}

.orders__scrollbar{
    width: 100%;
    direction: rtl;
    max-height: 670px;
    overflow: auto;
}

.orders__scrollbar::-webkit-scrollbar {
    width: 10px;
    left: -10px;
}

.orders__scrollbar::-webkit-scrollbar-track {
    background: linear-gradient(
            to bottom,
            #252d47,
            #2c2a3c,
            #332b34,
            #3a2b2c
    );
    border-radius: 10px;
}

.orders__scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.btn__orders__more{
    padding: 10px 2.5rem !important;
    font-weight: 600 !important;
}