@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --gray:#363636;
    --light-gray:#98A2B3;
    --dark-black:#2C2C2C;
    --purple:#6F6B9D;
    --yellow-err:#C77024;
}


p{
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

input{
    background: none;
    border: unset;
}

input:focus{
    outline: none;
}